#lcd-bezel {
 width: 496px; 
 height: 100px;
 border: 20px solid black;
 background: green;
 display: grid;
 grid-template-columns: repeat(16, auto);
 grid-template-rows: repeat(2, auto);
 grid-gap: 5px;
 padding: 5px;
}

.lcd-character {
    background: darkgreen;
    /* subtract the space between boxes, then divide space evenly */
    width: calc((496px - 75px) / 16);

    height: calc((100px - 5px) / 2);

    text-align: center;

    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(8, auto);

}

.character-dot-on {
    background: black;
    width: calc(100%);
    height: calc(100%);
    visibility: visible;
}

.character-dot-off {
    background: black;
    width: calc(100%);
    height: calc(100%);
    visibility: hidden;
}

#button-div {
    display: grid;
    grid-gap: 25px;
    width: 496px;
    grid-template-columns: repeat(3, auto);
    margin-top: 25px;
    text-align: center;
}

.button {
    background: darkgrey;
    width: 25px;
    height: 25px;
    margin: 0 auto;
}

#input-div {
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(2, 25px);
    /* grid-gap: 5px; */
}